### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [690]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "../pandas-challenge/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [691]:
#Take a quick look at my data

print(purchase_data_df.columns)
purchase_data_df.describe()

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [692]:
player_count = len(purchase_data_df.SN.unique())
player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [693]:
# Calculate Unique Items, Average Price, Purchase Count, and Total Revenue

unique_items = len(purchase_data_df['Item Name'].unique())

average_price = round(purchase_data_df['Price'].mean(),2)

number_purchases = purchase_data_df['Purchase ID'].count()

total_revenue = purchase_data_df['Price'].sum()

purchase_summary = pd.DataFrame({'Number of Unique Items': [unique_items],
                        'Average Price': [average_price],
                        'Number of Purchases':[number_purchases],
                        'Total Revenue': [total_revenue]})
purchase_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [694]:
# Group by gender
gender_df = purchase_data_df[['SN','Gender']].drop_duplicates()

# Find count by gender
gender_counts = gender_df['Gender'].value_counts()
gender_counts

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [695]:
# Find percentage by gender
percentage_df = round(gender_counts/player_count,4)
percentage_df

Male                     0.8403
Female                   0.1406
Other / Non-Disclosed    0.0191
Name: Gender, dtype: float64

In [696]:
# Create DataFrame
gender_summary = pd.DataFrame({'Total Count':gender_counts,'Percentage of Players': percentage_df})
gender_summary

                       Total Count  Percentage of Players
Male                           484                 0.8403
Female                          81                 0.1406
Other / Non-Disclosed           11                 0.0191


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [697]:
# Count purchase by gender
gender_purchase_count = purchase_data_df.groupby('Gender')['Purchase ID'].count()
gender_purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [698]:
# Find purchase price by gender
gender_avg_purchase_price = round(purchase_data_df.groupby('Gender')['Price'].mean(),2)
gender_avg_purchase_price

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [699]:
# Find toal purchase by gender
gender_total_purchase = round(purchase_data_df.groupby('Gender')['Price'].sum(),2)
gender_total_purchase

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [700]:
# Find Average total purchase per person and by gender
gender_avg_purchase_per_person = round(gender_total_purchase/gender_counts,2)
gender_avg_purchase_per_person

Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [701]:
# Store new info in DataFrame
genderr_purchase_summary = pd.DataFrame({'Purchase Count': gender_purchase_count, 
                               'Average Purchase Price': gender_avg_purchase_price,
                               'Total Purchase Value': gender_total_purchase, 
                               'Avg Total Purchase per Person': gender_avg_purchase_per_person})

genderr_purchase_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [702]:
# Set proper bins and names

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
bins = [0,9,14,19,24,29,34,39,1000]

In [703]:
# Store bin data into DataFrame
age_range_binning = pd.cut(purchase_data_df['Age'],bins, labels= group_names,include_lowest = True)
purchase_data_df['age_range'] = age_range_binning
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,age_range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [705]:
new_purchase_data_df = purchase_data_df.groupby(['SN','age_range']).size()
new_purchase_data_df = new_purchase_data_df.groupby(['age_range']).count()
new_purchase_data_df = pd.DataFrame(new_purchase_data_df)
new_purchase_data_df.columns = ['Total Count']
new_purchase_data_df['Percentage of Players'] = \
round(100 *new_purchase_data_df["Total Count"]/new_purchase_data_df["Total Count"].sum(),2)

new_purchase_data_df

           Total Count  Percentage of Players
age_range
<10                 17                   2.95
10-14               22                   3.82
15-19              107                  18.58
20-24              258                  44.79
25-29               77                  13.37
30-34               52                   9.03
35-39               31                   5.38
40+                 12                   2.08

## Purchasing Analysis (Age)

In [706]:
# Format new DataFrame

new_dataframe = pd.DataFrame({'new_SN': purchase_data_df['SN'],
                              'new_gender':purchase_data_df['Gender']}).drop_duplicates()

new_dataframe['age_range'] = age_range_binning

In [707]:
# Find count of SN by age range
age_range_count = new_dataframe.groupby('age_range')['new_SN'].count()

In [708]:
# Find percentage of players by age range
age_range_percentage = round(age_range_count/player_count,4)

In [709]:
# Store new info in DataFrame
age_range_summary = pd.DataFrame({'Total Count':age_range_count, 'Percentage of Players':age_range_percentage})

In [710]:
# Count purchase by age range
age_range_total = purchase_data_df.groupby('age_range')['Purchase ID'].count()

In [711]:
# Find average purchase by age range
age_range_avg_total = round(purchase_data_df.groupby('age_range')['Price'].mean(),2)

In [712]:
# Find total purchase by age range
age_range_purchase_total = purchase_data_df.groupby('age_range')['Price'].sum()

In [713]:
# Find average purchase by age range
age_range_avg_total_per_person = round(age_range_purchase_total/age_range_count,2)

In [714]:
# Store new info in DataFrame
purchase_total_summary = pd.DataFrame({'Purchase Count':age_range_total,
                                      'Average Purchase Price':age_range_avg_total,
                                      'Total Purchase Value': age_range_purchase_total,
                                      'Avg Total Purchase per Person':age_range_avg_total_per_person
                                        })
purchase_total_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
age_range,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [716]:
# Group DataFrame by SN

sn_analysis = purchase_data_df.groupby('SN')

In [717]:
# Count purchases by SN

sn_purchase_count = sn_analysis['Purchase ID'].count()
sn_purchase_count

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [718]:
# Find average purchase by SN

sn_avg_purchase = round(sn_analysis['Price'].mean(),2)
sn_avg_purchase

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       2.07
Yathedeu43       3.01
Yoishirrala98    4.58
Zhisrisu83       3.94
Zontibe81        2.68
Name: Price, Length: 576, dtype: float64

In [719]:
# Find purchase total by SN

sn_purchase_total = sn_analysis['Price'].sum()
sn_purchase_total

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [720]:
# Store new info in DataFrame

sn_analysis_summary = pd.DataFrame({'Purchase Count':sn_purchase_count,
                                    'Average Purchase Price': sn_avg_purchase,
                                    'Total Purchase Value':sn_purchase_total}).sort_values('Total Purchase Value',ascending = False)
sn_analysis_summary.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [721]:
# Create new DataFrame

item_data = purchase_data_df[['Item ID', 'Item Name','Price']]
item_data

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
775       60                                       Wolf   3.54
776      164                           Exiled Doomblade   1.63
777       67      Celeste, Incarnation of the Corrupted   3.46
778       92                               Final Critic   4.19
779       50                                       Dawn   4.60

[780 rows x 3 columns]

In [722]:
# Group new DataFrame by Item id and Item Name

item_group = item_data.groupby(['Item ID','Item Name'])
item_group

In [723]:
# Count purchased items

item_purchase_count = item_group['Item ID'].count()
item_purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Item ID, Length: 179, dtype: int64

In [724]:
# Find purchase value by item 

item_total_purchase_value = item_group['Price'].sum()
item_total_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [725]:
# Find value of each item

item_item_price = round((item_total_purchase_value)/item_purchase_count,2)
item_item_price

Item ID  Item Name
0        Splinter                                        1.28
1        Crucifer                                        2.94
2        Verdict                                         2.48
3        Phantomlight                                    2.49
4        Bloodlord's Fetish                              1.70
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.23
179      Wolf, Promise of the Moonwalker                 4.48
181      Reaper's Toll                                   1.66
182      Toothpick                                       4.03
183      Dragon's Greatsword                             1.09
Length: 179, dtype: float64

In [726]:
# Store new info in DataFrame

item_summary = pd.DataFrame({'Purchase Count': item_purchase_count,
                             'Item Price':item_item_price,
                             'Total Purchase Value':item_total_purchase_value}).sort_values('Purchase Count',ascending = False)

item_summary.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

In [729]:
# Sort Item DataFrame in decending order by Purchase Count

item_summary_by_total_purchase = item_summary.sort_values('Purchase Count',ascending = False)
item_summary_by_total_purchase.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
132,Persuasion,9,3.22,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame